.contact__user-wrapper {
    border: 3px solid rgb(8, 49, 59);
    display: flex;
    // justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;


    .contact__user {
        max-width: 200px;
        width: 100%;
        border: 1px solid red;

        div {
            display: flex;
            justify-content: space-between;
        }
    }
}