.education {
    margin-left: 20px;
}

h3:nth-child(3) {
    /* border: 1px solid red; */
    margin: 0;
    margin-bottom: 10px;
}

.text{
    font-size: 14px;
    font-weight: 300;
    color: grey;
    margin: 0;
    margin-bottom: 20px;
}