.wrapper {
    border: 3px solid black;
    display: flex;
    justify-content: center;
    padding: 12px;
}

.contact__block {
    max-width: 1440px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    border: 2px solid rgb(107, 33, 33);
    margin: 0;
    padding: 0;

    .contact__block-status ,
    .contact__user-block {
        border: 2px solid rgb(196, 238, 82);
        padding: 12px;
    }

    .contact__user-block {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;


        .contact__user {
            max-width: 250px;
            width: 100%;
            border: 1px solid red;
        }

    }


}
