.wrapper_contact {
    /* border: 2px solid rgb(0, 255, 64); */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.user__contact {
    /* border: 2px solid rgb(129, 32, 32); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    position: relative;
    padding: 10px;
}

.avatar__user {
    border-radius: 50%;
}

.img__true {
    display: block;
    background-image: url(./love-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.btn__pencil {
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    width: 26px;
    height: 26px;
}

.btn__pencil {
    background-image: url(./pencil.svg);
    position: absolute;
    top: 0px;
    right: 0px;
}

.btn__pencil:hover {
    background-image: url(./pencil-green.svg);
}

.btn__pencil:active {
    transform: scale(1.05);
}