.expirience {
    /* border: 2px solid red; */
    margin-left: 25px;
}

.expirience > div > ul {
    margin: 10px 0 0 0;
    padding-left: 25px;
}

.expirience > div > p:nth-child(2) {
    /* border: 1px solid red; */
    font-size: 14px;
    font-weight: 300;
    color: grey;
    margin: 0;
}